@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   color: rgb(25, 232, 191);
}

/* FIX TEXT COLORS */
body {
  font-family: "Poppins", sans-serif;
  background: #0f172a;
  color: rgb(25, 232, 191); /* 🔥 THIS FIXES TEXT */
}

/* HEADINGS */
h1, h2, h3 {
  color: white;
}

/* PARAGRAPHS */
p {
  color: rgba(255,255,255,0.85);
}